<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='マイページ')">
</head>
<body>
	<h1>会員情報確認画面(mypage/info.html)</h1>
	<p th:if="${update}">会員情報を変更しました。</p>
	<table th:object="${userInfo}">
		<tr>
			<th>会員番号</th>
			<td><span th:text="*{userId}"></span></td>
		</tr>
		<tr>
			<th>名前</th>
			<td><span th:text="*{name}"></span></td>
		</tr>
		<tr>
			<th>性別</th>
			<td><span th:text="*{gender}"></span></td>
		</tr>
		<tr>
			<th>ログインID</th>
			<td><span th:text="*{loginId}"></span></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>セキュリティの為、表示しておりません。</td>
		</tr>
	</table>
	<form th:action="@{/mypage/setting}" method="get">
	  <input class="submit" type="submit" value="会員情報を変更する" />
	</form>
	<!-- start▼フッター部分をインクルードする▼ -->
	<footer th:include="fragments/common::footer"></footer>
	<!-- end  ▲フッター部分をインクルードする▲ -->
</body>
</html>