<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='会員登録完了')">
</head>
<body>
	<h1>会員登録完了画面(regist.html)</h1>
	<!--/* start▼画面がリロードされた場合のみ表示▼ */-->
	<div th:if="${userInfo == null}">
		<p>会員登録は既に完了しております。</p>
	</div>
	<!--/* end  ▲画面がリロードされた場合のみ表示▲ */-->
	<div th:if="${userInfo != null}">
	<p>以下の内容で会員登録完了しました。</p>
		<table border="1" style="width: 50%; height: 50%">
		<tr>
			<th>名前</th>
			<td th:text="${userInfo.name}"></td>
		</tr>
		<tr>
			<th>性別</th>
			<td th:text="${userInfo.gender}"></td>
		</tr>
		<tr>
			<th>ログインID</th>
			<td th:text="${userInfo.loginId}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>セキュリティ保護のため、表示していません。</td>
		</tr>
	</table>
	</div>
	<footer th:include="fragments/common::footer"></footer>
</body>
</html>