<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>購入履歴画面｜自作プロジェクト</title>
</head>
<body>
	<h1>トップ画面(buyinghistory.html)</h1>
	<table border="1" style="width: 50%; height: 50%">
		<tr>
			<td>購入日時</td>
			<td>決済方法</td>
			<td>配送方法</td>
			<td>購入合計金額(税込)</td>
		</tr>
		<tr th:each="buyingHistory : ${buyingHistoryList}">
			<td width="25%"><span th:text="${buyingHistory.buyingDate}"></span></td>
			<td width="25%"><span th:text="${buyingHistory.payment}"></span></td>
			<td width="25%"><span th:text="${buyingHistory.delivery}"></span></td>
			<td width="25%"><span th:text="${buyingHistory.totalPrice}"></span>円</td>
		</tr>
	</table>
	<p>
		<a href="/">トップ画面へ</a>
	</p>
</body>
</html>