<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='購入履歴')">
</head>
<body>
	<h1>購入履歴画面(buyinghistory.html)</h1>
	<h2>並び順を変更する</h2>
	<p>購入日時:
		<a th:href="@{/sort/date/desc}">新しい順</a>
		<a th:href="@{/sort/date/asc}">古い順</a>
	</p>
	<h2>条件から購入履歴を探す</h2>
	<form th:action="@{/buyinghistory/serch}" th:object="${buyingHistorySortForm}" method="post">
		<p>購入日時:
		<select th:field="*{buyingDate}">
			<option value="0" selected="selected">全ての期間</option>
			<option value="1">過去1日以内</option>
			<option value="7">過去7日以内</option>
			<option value="30">過去30日以内</option>
			<option value="60">過去60日以内</option>
			<option value="120">過去120日以内</option>
		</select>
		<select th:field="*{ascOrDesc}">
			<option value="asc" selected="selected">新しい順</option>
			<option value="desc">古い順</option>
		</select>
		</p>
		<p>決済方法:
		<select th:field="*{payment}">
			<option value="0" selected="selected">全て</option>
			<option value="1">クレジットカード</option>
			<option value="2">銀行振込</option>
			<option value="3">代金引換</option>
		</select>
		</p>
		<p>配送方法:
		<select th:field="*{delivery}">
			<option value="0" selected="selected">全て</option>
			<option value="1">クロネコヤマト</option>
			<option value="2">ゆうパック</option>
			<option value="3">佐川急便</option>
		</select>
		</p>
		<p>商品名&nbsp;&nbsp;&nbsp;:
		<input type="text" th:field="*{item_name}" />
		</p>
		<input class="submit" type="submit" value="この条件で検索する" />
	</form>
	<h2>購入履歴一覧</h2>
	<table>
		<tr>
			<th>購入日時</th>
			<th>決済方法</th>
			<th>配送方法</th>
			<th>購入合計金額(税込)</th>
		</tr>
		<tr th:each="buyingHistory : ${buyingHistoryList}">
			<td><span th:text="${#dates.format(buyingHistory.buyingDate, 'yyyy/MM/dd H:mm')}"></span></td>
			<td><span th:text="${buyingHistory.payment}"></span></td>
			<td><span th:text="${buyingHistory.delivery}"></span></td>
			<td><span th:text="${buyingHistory.totalPrice}"></span>円</td>
		</tr>
	</table>
	<footer th:include="fragments/common::footer"></footer>
</body>
</html>