<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>トップ画面｜自作プロジェクト</title>
</head>
<body>
	<h1>トップ画面(index.html)</h1>
	<!--/* start▼ログイン認証済かどうか確認する▼ */-->
	<p th:if="${#authorization.expression('isAuthenticated()')}">あなたはログイン済です</p>
	<p th:if="${#authorization.expression('isAuthenticated()') == false}">あなたはログインしてません</p>
	<!--/* end  ▲ログイン認証済かどうか確認する▲ */-->

	<!--/* start▼未ログイン時の表示メニュー▼ */-->
	<div th:if="${#httpServletRequest.remoteUser == null}">
		<p>
			こんにちは <span>ゲスト</span> さん
		</p>
		<p>
			<a href="/input">1.会員登録する</a>
		</p>
		<p>
			<a href="/login">2.ログインする</a>
		</p>
	</div>
	<!--/* end  ▲未ログイン時の表示メニュー▲ */-->

	<!--/* start▼既ログイン時の表示メニュー▼ */-->
	<div th:if="${#httpServletRequest.remoteUser != null}">
		<p th:inline="text">
			こんにちは <span>[[${#httpServletRequest.remoteUser}]] </span>さん
		</p>
		<p>
			<a href="/mypage">1.会員情報確認</a>
		</p>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="ログアウト" />
		</form>
	</div>
	<!--/* end  ▲既ログイン時の表示メニュー▲ */-->

	<!--/* start▼共通部分▼ */-->
	<h2>商品一覧</h2>
	<div>
		<table border="1" style="width: 50%; height: 50%">
			<tr>
				<td>商品管理番号</td>
				<td>商品名</td>
				<td>価格</td>
				<td>送料</td>
				<td>在庫数</td>
				<td></td>
			</tr>
			<tr th:each="list : ${itemInfoList}">
				<td width="15%"><span th:text="${list.itemId}"></span></td>
				<td width="15%"><span th:text="${list.name}"></span></td>
				<td width="25%"><span th:text="${list.price}"></span>円</td>
				<td width="25%"><span th:text="${list.postage}"></span>円</td>
				<td width="25%"><span th:text="${list.stock}"></span></td>
				<td width="25%">
					<form th:action="@{/shoppingcart}" method="post">
						<input type="hidden" name="itemId" th:value="${list.itemId}" />
						<input type="submit" value="買い物かごへ入れる" />
					</form>
				</td>
			</tr>
			
		</table>
	</div>
	<!--/* end  ▲共通部分▲ */-->
</body>
</html>