<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='トップページ')">
</head>
<body>
	<h1>トップ画面(index.html)</h1>
	<!--/* TODO:ブラウザから直接アクセスしても表示されてしまうので、どうにかしなければ */-->
	<!--/* start▼ログイン認証済かどうか確認する▼ */-->
	<p th:if="${#authorization.expression('isAuthenticated()')}">あなたはログイン済です</p>
	<p th:if="${#authorization.expression('isAuthenticated()') == false}">あなたはログインしてません</p>
	<!--/* end  ▲ログイン認証済かどうか確認する▲ */-->

	<!--/* start▼未ログイン時の表示メニュー▼ */-->
	<div th:if="${#httpServletRequest.remoteUser == null}">
		<p>
			こんにちは<span class="bold_name">ゲスト</span>さん
		</p>
		<p>
			<a href="/input">1.会員登録する</a>
		</p>
		<p>
			<a href="/login">2.ログインする</a>
		</p>
	</div>
	<!--/* end  ▲未ログイン時の表示メニュー▲ */-->

	<!--/* start▼既ログイン時の表示メニュー▼ */-->
	<div th:if="${#httpServletRequest.remoteUser != null}">
		<p th:inline="text">
			こんにちは<span class="bold_name">[[${#httpServletRequest.remoteUser}]]</span>さん
		</p>
		<p>
			<a th:href="@{/mypage}">1.会員情報確認</a>
		</p>
		<p>
			<a th:href="@{/buyinghistory}">2.購入履歴確認</a>
		</p>
		<p>
			<a th:href="@{/shoppingcart}">3.買い物かご確認</a>
		</p>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="ログアウト" />
		</form>
	</div>
	<!--/* end  ▲既ログイン時の表示メニュー▲ */-->

	<!--/* start▼共通部分▼ */-->
	<h2>商品一覧</h2>
	<div>
		<table>
			<tr>
				<th>商品管理番号</th>
				<th>商品名</th>
				<th>価格</th>
				<th>送料</th>
				<th>在庫数</th>
				<th></th>
			</tr>
			<tr th:each="list : ${itemInfoList}">
				<td><span th:text="${list.itemId}"></span></td>
				<td><span th:text="${list.name}"></span></td>
				<td><span th:text="${list.price}"></span>円</td>
				<td><span th:text="${list.postage}"></span>円</td>
				<td><span th:text="${list.stock}"></span></td>
				<td>
					<form th:action="@{/addItemInCart}" method="post">
						<span>注文数</span>
						<select name="itemCount">
							<option value="1" selected="selected">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
						</select>
						<input type="hidden" name="itemId" th:value="${list.itemId}" />
						<input type="submit" value="買い物かごへ入れる" />
					</form>
				</td>
			</tr>
		</table>
	</div>
	<!--/* end  ▲共通部分▲ */-->
</body>
</html>