<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='ログイン')">
</head>
<body>
	<h1>ログイン画面(login.html)</h1>
	<div class="ng" th:if="${param.error}">
		ユーザーID・パスワードに誤りがあります。</div>
	<div th:if="${param.logout}">ログアウトしました。</div>
	<form th:action="@{/login}" method="post">
		<table>
			<tr>
				<th>ユーザーID</th>
				<td><input type="text" name="username" /></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" name="password" /></td>
			</tr>
		</table>
		<input class="submit" type="submit" value="ログインする" />
	</form>
	<footer th:include="fragments/common::footer"></footer>
</body>
</html>