<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='マイページ')">
</head>
<body>
	<h1>会員情報確認画面(mypage.html)</h1>
	<table th:object="${userInfo}">
		<tr>
			<th>会員番号</th>
			<td><span th:text="*{userId}"></span></td>
		</tr>
		<tr>
			<th>名前</th>
			<td><span th:text="*{name}"></span></td>
		</tr>
		<tr>
			<th>性別</th>
			<td><span th:text="*{gender}"></span></td>
		</tr>
		<tr>
			<th>ログインID</th>
			<td><span th:text="*{loginId}"></span></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><span th:text="*{password}"></span></td>
		</tr>
	</table>
	<footer th:include="fragments/common::footer"></footer>
</body>
</html>