<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>決済完了画面｜自作プロジェクト</title>
</head>
<body>
	<h1>決済完了画面(ordercomplete.html)</h1>

	<p>以下の内容で、注文が確定しました。</p>
	<table border="1" style="width: 50%; height: 50%">
		<tr>
			<th>購入日時</th>
			<th>決済方法</th>
			<th>配送方法</th>
			<th>購入合計金額(税込)</th>
		</tr>
		<tr>
			<td width="25%"><span th:text="${#dates.format(buyingHistory.buyingDate, 'yyyy/MM/dd H:mm')}"></span></td>
			<td width="25%"><span th:text="${buyingHistory.payment}"></span></td>
			<td width="25%"><span th:text="${buyingHistory.delivery}"></span></td>
			<td width="25%"><span th:text="${buyingHistory.totalPrice}"></span>円</td>
		</tr>
	</table>
	<p><a href="/">トップ画面へ</a></p>
</body>
</html>