<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!--/* ▼common.htmlファイルのheadタグ部分をインクルードする▼ */-->
<head th:include="fragments/common::head (title='買い物かご')">
</head>
<body>
	<h1>買い物かご画面(shoppingcart.html)</h1>
	<!--/* start▼「買い物かごに入れる」ボタンから遷移して来た場合のみ表示する▼ */-->
	<p th:if="${itemId != null}" th:inline="text">商品管理番号：[[${itemId}]]を、買い物かごに入れました。</p>
	<!--/* end  ▲「買い物かごに入れる」ボタンから遷移して来た場合のみ表示する▲ */-->

	<h2>現在の買い物かごの中身</h2>
	<!--/* start▼買い物かごに入れている商品がない場合のみ表示する▼ */-->
	<P th:if="${itemInCartList.size() == 0}">現在、買い物かごに入っている商品はありません。</P>
	<!--/* end  ▲買い物かごに入れている商品がない場合のみ表示する▲ */-->
	
	<!--/* start▼買い物かごに入れている商品がある場合のみ表示する▼ */-->
	<div th:if="${itemInCartList.size() != 0}">
		<table>
			<tr>
				<th>商品管理番号</th>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>送料</th>
				<th>注文個数</th>
				<th>削除</th>
			</tr>
			<tr th:each="list : ${itemInCartList}">
				<td><span th:text="${list.itemId}"></span></td>
				<td><span th:text="${list.name}"></span></td>
				<td><span th:text="${list.price}"></span>円</td>
				<td><span th:text="${list.postage}"></span>円</td>
				<td><span th:text="${list.itemCount}"></span></td>
				<td>
					<form action="#" th:action="@{/deleteItemInCart}" method="post">
						<input type="hidden" name="cartId" th:value="${list.cartId}" />
						<input type="submit" value="削除" />
					</form>
				</td>
			</tr>
		</table>
		<form action="#" th:action="@{/deleteItemAllInCart}" method="post">
			<input class="submit" type="submit" value="買い物かごの中身を全て削除する" />
		</form>
		<form action="#" th:action="@{/orderform}" method="post">
			<input class="submit" type="submit" value="注文画面へ進む" />
		</form>
	</div>
	<!--/* end  ▲買い物かごに入れている商品がある場合のみ表示する▲ */-->
	<footer th:include="fragments/common::footer"></footer>
</body>
</html>