<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>買い物かご｜自作プロジェクト</title>
</head>
<body>
	<h1>買い物かご画面(shoppingcart.html)</h1>
	<!--/* start▼「買い物かごに入れる」ボタンから遷移して来た場合のみ表示する▼ */-->
	<p th:if="${itemId != null}" th:inline="text">商品管理番号：[[${itemId}]]を、買い物かごに入れました。</p>
	<!--/* end  ▲「買い物かごに入れる」ボタンから遷移して来た場合のみ表示する▲ */-->

	<h2>現在の買い物かごの中身</h2>
	<!--/* start▼買い物かごに入れている商品がない場合のみ表示する▼ */-->
	<P th:if="${itemInCartList.size() == 0}">現在、買い物かごに入っている商品はありません。</P>
	<!--/* end  ▲買い物かごに入れている商品がない場合のみ表示する▲ */-->
	
	<!--/* start▼買い物かごに入れている商品がある場合のみ表示する▼ */-->
	<div th:if="${itemInCartList.size() != 0}">
		<table border="1" style="width: 50%; height: 50%">
			<tr>
				<th>商品管理番号</th>
				<th>商品名</th>
				<th>単価(税込)</th>
				<th>送料</th>
				<th>注文個数</th>
				<th>削除</th>
			</tr>
			<tr th:each="list : ${itemInCartList}">
				<td width="15%"><span th:text="${list.itemId}"></span></td>
				<td width="25%"><span th:text="${list.name}"></span></td>
				<td width="25%"><span th:text="${list.price}">円</span></td>
				<td width="25%"><span th:text="${list.postage}">円</span></td>
				<td width="25%"><span th:text="${list.itemCount}"></span></td>
				<td width="25%">
					<form action="#" th:action="@{/deleteItemInCart}" method="post">
						<input type="hidden" name="cartId" th:value="${list.cartId}" />
						<input type="submit" value="削除" />
					</form>
				</td>
			</tr>
		</table>
		<form action="#" th:action="@{/deleteItemAllInCart}" method="post" style="padding-top: 10px">
			<input type="submit" value="買い物かごの中身を全て削除する" />
		</form>
		<form action="#" th:action="@{/orderform}" method="post" style="padding-top: 10px">
			<input type="submit" value="注文画面へ進む" />
		</form>
	</div>
	<!--/* end  ▲買い物かごに入れている商品がある場合のみ表示する▲ */-->
	<p>
		<a href="/">トップ画面へ</a>
	</p>
</body>
</html>